<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <h1 class="header">Uzbek airline Centrum Air has postponed the launch of flights between Tel Aviv and Tashkent to November 21.</h1>
    <hr>
    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt error expedita fuga magni modi molestiae natus perspiciatis rerum, vel veniam? Ab amet at culpa debitis eaque illum natus, qui rerum!100</h3>
    <br>
    <br>
    <br>
    <p class="paragraph"><span class="name"><i>Azimboyev Faxriyor</i></span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur error est ex magnam nobis repellendus? Adipisci beatae cum, dignissimos eius harum laudantium necessitatibus omnis possimus provident quidem, sequi ut voluptates.</p>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi distinctio dolorem earum, eos esse, est et harum in ipsa modi optio perferendis provident quas quis, quisquam similique vitae voluptate voluptatibus!</p>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias aspernatur assumenda culpa cum eligendi, esse illo impedit laudantium mollitia perspiciatis praesentium, quia quisquam rem temporibus. Illo porro temporibus veritatis?</p>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque aut autem deserunt dolore nemo officia. Ab commodi consequuntur excepturi, illum impedit laboriosam magni molestias nobis quod reiciendis repudiandae tenetur?</p>
</body>
</html>