{% extends 'base.html' %}
{% load static %}

{% block header %}
    <style>
        body {
            background: url("{% static 'images/news.png' %}") no-repeat center center fixed;
            background-size: cover;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <h1>Hello this is NEWS site if you're interested in news then click here |</h1>
        <figure>
            <blockquote class="blockquote">
                <p>WELCOME TO HOME PAGE</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                <a href="">home/</a>
            </figcaption>
        </figure>

        <div class="turn">
            <a href="{% url 'main:blog' %}">Turn to News</a>
        </div>
    </div>
{% endblock %}