{% extends 'base.html' %}


{% load static %}


{% block header %}
    <link rel="stylesheet" href="{% static 'css/article.css' %}">
    <h1>Article Page</h1>
    <p>Article List Page</p>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <form class="form-control d-flex mb-3 gap-2" action="" method="get">
                <input type="search" name="q" class="form-control">
                <button type="submit" class="btn btn-success">submit</button>
            </form>
        </div>
    </div>
    <div class="row">
        {% if articles %}
            {% for ne in articles %}
                <div class="col-md-4">
                    <div class="card bg-light border border-secondary hover-effect" style="width: 18rem;">
                        {% if ne.image %}
                            <img src="{{ ne.image.url }}" class="card-img-top" alt="...">
                        {% else %}
                            <h1 class="text-danger">No image</h1>
                        {% endif %}

                        <div class="card-body">
                            <h5 class="card-title">{{ ne.title }}</h5>
                            <p class="card-text">{{ ne.content | slice:":300" }}</p>
                            <a href="{% url 'main:detail' ne.id %}" class="btn btn-primary">ABOUT IT</a>
                        </div>
                    </div>

                    <!-- Back to Home button -->
                    {#                <a href="index.html" class="back-home"> Back to Home</a>#}
                </div>
            {% endfor %}
            {% else %}
            <h1 class="text-danger">No found</h1>
        {% endif %}
        <div>
            <a href="{% url 'main:index' %}" class="back-home">⬅ Back to home page</a>
        </div>
    </div>
{% endblock %}